@model HHT.UI.ViewModels.DocumentoGeralViewModel

@section specificScript{
    @Scripts.Render("~/bundles/documentoGeral")
}

    <div class="page-head">
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Administração</a></li>
            <li class="active">Documentos Gerais</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-border-color panel-border-color-primary">
                    <div class="panel-heading panel-heading-divider">
                        Cadastrar documento
                        <div class="tools"><a href="@Url.Action("Index", "DocumentoGeral")"><span class="icon-container back"><span class="icon back mdi mdi-chevron-left"></span></span></a></div>
                    </div>
                    <div class="panel-body">
                    @using (Html.BeginForm("Cadastrar", "DocumentoGeral", FormMethod.Post, new { @class = "form-horizontal", id = "frmrDocumentoGeral", data_toggle = "validator",  data_disable = "false" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-sm-5">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           
                                <div class="form-group xs-mt-10">
                                    @Html.Label("Descrição", htmlAttributes: new { @class = "col-sm-5 without-padding-right control-label" })
                                    <div class="col-sm-7">
                                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control input-xs", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Associado a", htmlAttributes: new { @class = "col-sm-5 without-padding-right control-label" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("AssociadoId", ViewBag.Associados as SelectList, "-- Selecione --", new { @class = "form-control input-xs", required = "required" })
                                        @Html.ValidationMessageFor(model => model.AssociadoId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Vencimento (meses)", htmlAttributes: new { @class = "col-sm-5 without-padding-right control-label" })
                                    <div class="col-sm-7">
                                        @Html.EditorFor(model => model.Vencimento, new { htmlAttributes = new { @class = "form-control input-xs", required = "required" } })
                                    </div>
                                </div>
                                
                            </div>
                      
                        <div class="col-sm-6">
                            <div class="form-group xs-mt-10">
                                @Html.Label("Tipo de Documento", htmlAttributes: new { @class = "col-sm-4 without-padding-right control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownList("TipoDocumentoId", ViewBag.TiposDocumentos as SelectList, "-- Selecione --", new { @class = "form-control input-xs", required = "required" })
                                    @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="radioButtonOpcao" style="margin-top: -3px; display: none">
                                @Html.Label("Selecione", htmlAttributes: new { @class = "col-sm-4 without-padding-right control-label text-primary" })
                                <div class="col-sm-8" style="margin-top: -3px">
                                    <div class="be-radio inline">
                                        @Html.RadioButton("RadioButton", true, new { id = "Local" })
                                        <label for="Local">Local</label>
                                    </div>
                                    <div class="be-radio inline">
                                        @Html.RadioButton("RadioButton", false, new { id = "Completa" })
                                        <label for="Completa">Completa</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-sm-4 without-padding-right control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control input-xs", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" id="selectLocal" style="display: none">
                                @Html.LabelFor(model => model.Local, htmlAttributes: new { @class = "col-sm-4 without-padding-right control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownList("LocalId", ViewBag.Locais as SelectList, "-- Selecione --", new { @class = "form-control input-xs", required = "required" })
                                    @Html.ValidationMessageFor(model => model.LocalId, "", new { @class = "text-danger" })
                                </div>
                            </div>    
                           
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-heading-divider-button"></div>
                                <div class="col-sm-12">
                                    <p class="text-right">
                                        <button type="submit" data-toggle="modal" data-target="#mod-success" class="btn btn-space btn-primary">Confirmar</button>
                                        <button type="button"id="btnCancelarCadastrar" class="btn btn-space btn-default">Cancelar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                   
                </div>
            </div>
        </div>
    </div>