@model IEnumerable<HHT.UI.ViewModels.EmpresaViewModel>

@section specificScript{
    <script type="text/javascript" src="~/Scripts/Controllers/Empresa.js"></script>
    <script>
        $(document).ready(function () {
            var botaoAcesso = '@(ViewBag.DisplayMenu)';
            if (!botaoAcesso)
            {
                botaoNovaEmpresa();
            }            
        });
    </script>
}

    <div class="page-head">
        <ol class="breadcrumb page-head-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Portal</a></li>
            <li class="active">Empresas</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-table panel-border-color panel-border-color-primary">
                    <div class="panel-heading panel-heading-divider">Lista de Empresas</div>

                    <div class="panel-body">
                        <table id="datatable" class="table table-striped table-hover table-fw-widget">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>CNPJ</th>
                                    @*<th>Local</th>*@
                                    <th>Responsável</th>
                                    <th>Gestor AES</th>
                                    <th>Ativa</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="even gradeC" id="row_@item.EmpresaId">
                                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Local.Nome)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.NomeResponsavelEmpresa)</td>
                                        <td class="center">@Html.DisplayFor(modelItem => item.NomeGestorAES)</td>
                                        @if (item.EmpresaAtiva)
                                        {
                                            <td><a data-toggle="tooltip" data-original-title="Sim" class="icon"><i class="mdi size mdi-check size mdc-text-green"></i></a></td>
                                        }
                                        else
                                        {
                                            <td><a data-toggle="tooltip" data-original-title="Não" class="icon"><i class="mdi size mdi-block size mdc-text-red"></i></a></td>
                                        }                                        
                                        <td class="center actions">
                                            @if (ViewBag.DisplayMenu != null)
                                            {
                                                if (!ViewBag.DisplayMenu)
                                                {
                                                    <div class="icon-table"><a href="@Url.Action("Editar", "Empresa", new { empresaId = @item.EmpresaId })" data-toggle="tooltip" data-original-title="Editar" class="icon"><i class="mdi mdi-edit"></i></a></div>
                                                }
                                            }
                                            else
                                            { 
                                                <div class="icon-table"><a href="@Url.Action("Editar", "Empresa", new { empresaId = @item.EmpresaId })" data-toggle="tooltip" data-original-title="Editar" class="icon"><i class="mdi mdi-edit"></i></a></div>
                                            }
                                            @{
                                                var classDocumento = "class='mdi mdi-collection-text " + item.VerificarArquivo + "'";
                                                <div class="icon-table"><a href="@Url.Action("Documentos", "Empresa", new { empresaId = @item.EmpresaId })" class="icon"><i data-toggle="tooltip" data-original-title="Documentos" @Html.Raw(classDocumento)></i></a></div>
                                            }   
                                            @if (ViewBag.DisplayMenu != null)
                                            {
                                                if (!ViewBag.DisplayMenu)
                                                {
                                                    <div class="icon-table"><a href="#" data-id=@item.EmpresaId data-content="ExcluirEmpresa" class="btnExcluir icon"><i data-toggle="tooltip" data-original-title="Excluir" class="mdi mdi-delete"></i></a></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="icon-table"><a href="#" data-id=@item.EmpresaId data-content="ExcluirEmpresa" class="btnExcluir icon"><i data-toggle="tooltip" data-original-title="Excluir" class="mdi mdi-delete"></i></a></div>
                                            }
                                        </td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Modal Excluir-->
<div id="mod-danger" tabindex="-1" role="dialog" style="" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnClose" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger"><span class="modal-main-icon mdi mdi-close-circle-o"></span></div>
                    <h3>Atenção!</h3>
                    <h4>Deseja realmente excluir esta empresa?</h4>                    
                    <div id="buttons" class="xs-mt-50">
                        <button type="button" id="bntCancelar" data-dismiss="modal" class="btn btn-space btn-default">Cancelar</button>
                        <button type="button" id="btnConfirmaExclusao" class="btn btn-space btn-danger">Excluir</button>
                        <button type="button" id="btnConfirmaExclusaoEmpresaCompleta" class="btn btn-space btn-danger" style="display:none">Confirmar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
